<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<head>
    <meta charset="utf-8">
    <title> Flask Tutorial </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/template.css')}}" />
</head>
    <body>
        {% extends "template.html"%}
        {%block content%}
        <h1>My First Try Using Flask</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>Column 1</h3>
                    <p>This is a paragraphm. This is a paragraphm, This is a paragraphm. This is a paragraphm.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>Column 2</h3>
                    <p>This is a paragraphm. This is a paragraphm, This is a paragraphm. This is a paragraphm.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>Column 3</h3>
                    <p>This is a paragraphm. This is a paragraphm, This is a paragraphm. This is a paragraphm.</p>
                </div>
            </div>
        </div>
        {%endblock%}
    </body>
</html>